/* General Rules */
.container-fluid {
	text-align: center;
}

#format_overview ul {
	text-align: left;
}

/* navbar */
#navigation .nav-link {
	padding: 1.5rem 4.5rem;
}

#navigation {
	background-color: #3500d3;
}

#navigation a {
	text-decoration: none;
	color: #282828;
}

#navigation a:hover {
	color: white;
	background-color: #282828;
}

/* jumbotron */

#jumbotron {
	height: 40rem;
	background-color: #282828;
	color: white;
}

#jumbotron .d-flex {
	height: 100%;
	justify-content: center;
	align-items: center;
}

/* format_overview */
#format_overview {
	background-color: #240090;
	color: white;
	height: 45rem;
}
